.apply_now_navbar{
	position: absolute;
    top: calc(50% - 1em + -11px);
	/* left: calc(50% - 20px); */
	left: 30vw;
}



@media only screen and (min-width: 1240px){
	.apply_now_navbar{
		display: none;
	}
	
}


@media only screen and (max-width: 1240px) {
	#Top_bar.is-sticky {
		position: fixed !important;
		width: 100%;
		left: 0;
		top: -60px;
		height: 60px;
		z-index: 701;
		background: #fff;
		opacity: .97;
		filter: alpha(opacity=97);
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
	}
}